/* src/components/Header.css */

.header {
    background-color: #343a40; /* Basic blue color */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo-container .logo {
    height: 40px; /* Adjust the size of the logo */
  }
  
  .app-name {
    font-size: 1.5rem;
    font-weight: 700;
  }
  