.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.app-body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.sidebar {
  width: 350px;
  border-right: 1px solid #dee2e6;
  scroll-behavior: smooth;
}

.chat-window {
  background-color: #f8f9fa;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.chat-messages {
  overflow-y: auto;
}

.input-area {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
}
